# Average Values

**Setup**

In [12]:
#imports
import pandas as pd
from pathlib import Path
import numpy as np

In [2]:
#open dataset with ranges
path = Path.cwd().parent.parent.absolute()
df = pd.read_csv(path / "final_data/range_updates.csv")

#get list of unique ranges as array
ranges = df['range'].unique()

**Global Distribution Data and Averages**

Get different values such as averages and distribution.

We can take away unnecessary fields such as the ids and mode as these cannot be analysed.  We can also take away the rank counts as meaningful data can not be gleaned from these.

This data is all-time, however for the purpose of the dashboard, only the most recent data will be used.

In [3]:
#take away unnecessary fields and create new dataset
df_describe = df[['count300', 'count100', 'count50', 'playcount', 'ranked_score', 'total_score', 'pp_rank', 'level', 'pp_raw', 'accuracy']].copy()

print("All time data - mean\n")
df_describe.mean().astype(str)

All time data - mean

count300         6057174.917487481
count100         634401.4104352392
count50          71346.20263303036
playcount       35244.646706115025
ranked_score       9322333606.4751
total_score      46088655599.77594
pp_rank          58213.59454510481
level            95.85027350912551
pp_raw           4299.732330893455
accuracy         97.20485426316478
dtype: object

In [6]:
print("All time data - median\n")
df_describe.median().astype(str)

All time data - median

count300                3751770.0
count100                 434478.0
count50                   46740.0
playcount                 24793.0
ranked_score         4344654687.0
total_score         20207144423.0
pp_rank                   42915.5
level                     99.2712
pp_raw                     3854.9
accuracy        97.92610931396484
dtype: object

In [7]:
print("All time data - description\n")

df_describe.describe().astype(str)

All time data - description

,count300,count100,count50,playcount,ranked_score,total_score,pp_rank,level,pp_raw,accuracy
count,4543662.0,4543662.0,4543662.0,4543662.0,4543662.0,4543662.0,4543662.0,4543662.0,4543662.0,4543662.0
mean,6057174.917487481,634401.4104352392,71346.20263303036,35244.646706115025,9322333606.4751,46088655599.77594,58213.59454510481,95.85027350912551,4299.732330893455,97.20485426316478
std,6762993.723843441,598404.442147927,74555.34169148991,32658.45330963036,17039482625.43634,77655563309.30536,51892.81713634771,9.144635454061621,2425.5751317822014,2.2604378712285627
min,5134.0,0.0,1.0,6.0,-895268380.0,18332679.0,100.0,7.82821,0.0,58.91627669334412
25%,1848425.25,227288.0,23935.0,13182.0,1886372688.75,8430088233.75,14416.0,96.3709,2528.9,96.47032928466795
50%,3751770.0,434478.0,46740.0,24793.0,4344654687.0,20207144423.0,42915.5,99.2712,3854.9,97.92610931396484
75%,8002419.0,843020.0,90068.75,47488.0,10175653518.0,51260160951.0,90264.0,100.243,5436.09,98.68997192382812
max,1010650840.0,9433339.0,3894717.0,548189.0,765097426356.0,1556077986023.0,200000.0,115.291,15179.3,100.0

As we can see, there is a minus minimum value for 'ranked_score' which cannot happen in actuality as you cannot get a negative score on a beatmap, we will see if there is any negative values for ranked or total score.

In [8]:
df[(df.ranked_score < 0) | (df.total_score < 0)]

,id,user,count300,count100,count50,playcount,ranked_score,total_score,pp_rank,level,pp_raw,accuracy,count_rank_ss,count_rank_s,count_rank_a,timestamp,mode,range
385181,2992792,9168222,477738,77919,8120,3728,-895268380,7447151982,116757,95.6735,1857.10,93.639740,12,41,62,2018-05-15 10:59:43,0,"100,000 - 200,000"
385185,2992813,9168222,478032,77935,8120,3729,-893806093,7451901114,114829,95.6781,1881.46,93.558723,12,42,61,2018-05-15 11:01:52,0,"100,000 - 200,000"
1429089,3002628,9168222,504838,80417,8215,4010,-859526486,7596136362,62955,95.8166,2790.68,94.305046,12,52,63,2018-05-16 12:45:15,0,"50,000 - 99,999"
1429185,3003236,9168222,507116,80580,8223,4035,-854518043,7607408059,60798,95.8274,2846.59,94.309753,12,52,64,2018-05-16 14:12:46,0,"50,000 - 99,999"
2442202,3016675,9168222,542238,83912,8443,4373,-778431540,7794281076,41733,96.0041,3421.57,95.382439,12,61,81,2018-05-18 10:02:44,0,"25,000 - 49,999"
2446275,3063518,9168222,698828,99936,9190,5829,-576225334,8588897810,30793,96.4625,3886.90,94.824135,12,85,121,2018-05-24 16:20:37,0,"25,000 - 49,999"
3241827,3092563,9168222,800300,107966,9508,6754,-479011461,9183592817,22181,96.8056,4349.01,96.419304,12,101,139,2018-05-28 13:17:03,0,"10,000 - 24,999"
3241837,3092690,9168222,802671,108091,9510,6774,-477945899,9200802412,22048,96.8155,4357.83,96.444359,12,101,139,2018-05-28 13:34:17,0,"10,000 - 24,999"
3242278,3098482,9168222,811368,109366,9538,6861,-460399433,9249880388,21783,96.8438,4375.78,96.407562,12,101,141,2018-05-29 07:11:19,0,"10,000 - 24,999"
3242282,3098555,9168222,813698,109465,9544,6874,-455500396,9267084492,21525,96.8538,4391.79,96.442101,12,102,141,2018-05-29 07:27:23,0,"10,000 - 24,999"
3242287,3098634,9168222,816132,109581,9548,6896,-455140482,9281620468,21125,96.8621,4416.81,96.553978,12,104,140,2018-05-29 07:52:00,0,"10,000 - 24,999"
3245026,3135251,9168222,859455,116906,9748,7249,-419572241,9485003834,19988,96.9795,4501.48,96.603828,12,106,145,2018-06-03 08:22:34,0,"10,000 - 24,999"
3245031,3135372,9168222,861812,117113,9752,7281,-418529651,9492697421,19974,96.9839,4502.65,96.604919,12,106,146,2018-06-03 08:38:50,0,"10,000 - 24,999"
3245140,3136671,9168222,866100,117451,9769,7309,-409784465,9511159159,19979,96.9946,4503.17,96.605698,12,106,148,2018-06-03 12:57:24,0,"10,000 - 24,999"
3245150,3136726,9168222,867537,117521,9772,7320,-408765743,9519354261,19975,96.9993,4503.50,96.606125,12,106,149,2018-06-03 13:08:49,0,"10,000 - 24,999"
3245164,3136899,9168222,871690,117846,9785,7358,-398989106,9547163493,19853,97.0089,4511.96,96.627113,12,106,151,2018-06-03 13:40:23,0,"10,000 - 24,999"
3245358,3139274,9168222,874403,118048,9794,7382,-398903663,9563314025,19851,97.0144,4512.19,96.626762,12,106,152,2018-06-03 19:52:45,0,"10,000 - 24,999"
3246754,3158999,9168222,925940,121895,9943,7848,-368257402,9887992199,17675,97.1235,4671.08,97.168045,13,114,152,2018-06-06 12:38:27,0,"10,000 - 24,999"
3247177,3165687,9168222,946832,123273,9995,8100,-347946898,9985754625,16065,97.1563,4791.91,97.439003,14,119,153,2018-06-07 11:00:17,0,"10,000 - 24,999"
3247261,3166746,9168222,954810,123699,10013,8174,-344213486,10028288571,16021,97.1706,4796.22,97.452545,14,119,155,2018-06-07 14:13:49,0,"10,000 - 24,999"
3248325,3181485,9168222,1006050,126285,10139,8633,-330436357,10324436953,14114,97.2701,4961.83,97.691078,14,125,152,2018-06-09 15:12:57,0,"10,000 - 24,999"
3259352,3332445,9168222,1211751,144422,11096,10378,-230004214,11359747791,12542,97.6180,5150.24,97.700485,14,140,167,2018-07-01 03:28:18,0,"10,000 - 24,999"
3272592,3527559,9168222,1352695,155801,11761,11413,-81518741,12180914977,11681,97.8940,5289.10,97.740120,14,154,169,2018-07-29 23:07:26,0,"10,000 - 24,999"

It has found multiple instances of this in the dataset in 2018, which might have been the result of a glitch in the system that was fixed however the offending results weren't removed from the dataset.  We do not want this interfering with our results, so we need to remove these from the dataset and push this to a new csv file.

In [9]:
#create new df with values removed
df_new = df.drop(df.loc[df['ranked_score'] < 0].index)

#check to see that the results are infact removed
df_new[(df_new.ranked_score < 0)]

Empty DataFrame
Columns: [id, user, count300, count100, count50, playcount, ranked_score, total_score, pp_rank, level, pp_raw, accuracy, count_rank_ss, count_rank_s, count_rank_a, timestamp, mode, range]
Index: []

In [34]:
#push to csv
df_new.to_csv(path / "final_data/fixed_range_updates.csv")

**Get recent data**

Get data in the last month for purpose of dashboard

*Get one update for each user*

In [15]:
#add date only field
#and change the type to date
df_new["timestamp"].astype(str)
df_new["date"] = [x[:10] for x in df_new["timestamp"]]
df_new["date"].astype(np.datetime64)

0         2014-05-27
1         2014-05-27
2         2014-05-27
3         2014-05-27
4         2014-05-27
             ...
4543657   2022-10-20
4543658   2022-10-20
4543659   2022-10-20
4543660   2022-10-20
4543661   2022-10-20
Name: date, Length: 4543639, dtype: datetime64[ns]

In [24]:
#filter for last month in dataset which is 20-10-2022
df_1_month = df_new[df_new["date"] >= '2022-09-20']
df_1_month.reset_index(drop=True)

#filter for one update per user, as there is 193 thousand records filter for latest for each user
users = df_1_month['user'].unique()
frames = [] #init array to store unique updates
for i in users:
    df_user = df_1_month[df_1_month["user"] == i]
    df_one = df_user.tail(1)
    frames.append(df_one)

#concatenate frames
df_unique = pd.concat(frames)

#create new csv to store this data
df_unique.to_csv(path / "final_data/avg_last_month.csv")

**General Averages**

In [47]:
#as before, create new dataset with only needed columns
df_averages_range = df_unique[['count300', 'count100', 'count50', 'playcount', 'ranked_score', 'total_score', 'pp_rank', 'level', 'pp_raw', 'accuracy', 'range']].copy()
df_averages = df_unique[['count300', 'count100', 'count50', 'playcount', 'ranked_score', 'total_score', 'pp_rank', 'level', 'pp_raw', 'accuracy']].copy()

#init dict for columns and averages
avgs = {}

#iterate through columns to get avg for each
for name, values in df_averages.iteritems():
    avg = values.median().astype(str)
    avgs.update({name: avg})

print(avgs)

{'count300': '8253784.5', 'count100': '986922.0', 'count50': '104928.5', 'playcount': '45050.0', 'ranked_score': '9888546851.0', 'total_score': '51256589290.5', 'pp_rank': '36537.5', 'level': '100.243', 'pp_raw': '5559.73', 'accuracy': '98.45732879638672'}

**Ranged Averages**

In [45]:
#init array object to store ranges and their corresponding averages
range_avgs = []

#iterate through ranges
for i in ranges:
    #filter for range
    df_this = df_averages[df_averages["range"] == i]
    df_this.reset_index(drop=True)

    #drop range field to prevent error with iteration
    df_this.drop("range", axis=1, inplace=True)

    #init dict for columns and averages
    avgs = {}
    
    #iterate through columns to get avg for each
    for name, values in df_this.iteritems():
        avg = values.median().astype(str)
        avgs.update({name: avg})

    #construct object
    obj = {"range": i,
           "averages": avgs}
    range_avgs.append(obj)

print(range_avgs)

[{'range': '100,000 - 200,000', 'averages': {'count300': '3428352.0', 'count100': '484767.0', 'count50': '53647.0', 'playcount': '21564.0', 'ranked_score': '3372399370.0', 'total_score': '16045758415.0', 'pp_rank': '138564.0', 'level': '98.6814', 'pp_raw': '3424.22', 'accuracy': '97.6343765258789'}}, {'range': '50,000 - 99,999', 'averages': {'count300': '5672342.0', 'count100': '745711.0', 'count50': '78203.0', 'playcount': '32920.0', 'ranked_score': '6031006689.0', 'total_score': '31482546535.0', 'pp_rank': '72469.0', 'level': '100.046', 'pp_raw': '4575.17', 'accuracy': '98.26785278320312'}}, {'range': '25,000 - 49,999', 'averages': {'count300': '8202208.0', 'count100': '990361.0', 'count50': '104318.0', 'playcount': '44409.0', 'ranked_score': '9620325259.0', 'total_score': '50327602922.0', 'pp_rank': '36760.0', 'level': '100.234', 'pp_raw': '5669.38', 'accuracy': '98.5519790649414'}}, {'range': '10,000 - 24,999', 'averages': {'count300': '11413363.0', 'count100': '1191089.0', 'count50': '124489.0', 'playcount': '58514.0', 'ranked_score': '15358412378.0', 'total_score': '83693142849.0', 'pp_rank': '16947.0', 'level': '100.568', 'pp_raw': '6864.2', 'accuracy': '98.74674224853516'}}, {'range': '5,000 - 9,999', 'averages': {'count300': '15157524.0', 'count100': '1403392.5', 'count50': '152059.0', 'playcount': '73602.0', 'ranked_score': '22586265486.5', 'total_score': '123962323043.0', 'pp_rank': '7513.0', 'level': '100.9705', 'pp_raw': '8073.675', 'accuracy': '98.78947067260742'}}, {'range': '1,000 - 4,999', 'averages': {'count300': '19395597.0', 'count100': '1729547.0', 'count50': '180282.5', 'playcount': '91707.5', 'ranked_score': '28950479456.5', 'total_score': '176886010572.5', 'pp_rank': '2704.5', 'level': '101.4995', 'pp_raw': '9626.92', 'accuracy': '98.75166320800781'}}, {'range': '500 - 999', 'averages': {'count300': '24854975.0', 'count100': '1905600.5', 'count50': '195826.5', 'playcount': '112372.0', 'ranked_score': '38348448261.0', 'total_score': '254914391923.0', 'pp_rank': '733.5', 'level': '102.28', 'pp_raw': '11780.5', 'accuracy': '98.7672233581543'}}, {'range': '100 - 499', 'averages': {'count300': '27955983.0', 'count100': '2049151.0', 'count50': '200757.5', 'playcount': '132038.5', 'ranked_score': '49388522382.5', 'total_score': '323515819168.5', 'pp_rank': '269.5', 'level': '102.96600000000001', 'pp_raw': '13374.4', 'accuracy': '98.84789657592773'}}]

C:\Users\Andrew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\Andrew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\Andrew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\Andrew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\Andrew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\Andrew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\Andrew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\Andrew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(